body {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
	margin: 0;
	padding: 0;
	height: 100%;
	min-width: 1250px;
}

html {
	margin: 0;
	padding: 0;
	height: 100%;
	min-width: 1250px;
}

#page {
	position: relative;
	min-height: 100%;
	border: 1px solid #333333;
	min-width: 1250px;
	background-image: url(../images/black-gloss-background-edited.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#container {
	position: relative;
	margin: 232px 3.5em 256px;
	height: 365px;
	overflow: auto;
	min-width: 1150px;
	border-radius: 25px;
	box-shadow: 14px 16px 11px rgba(38, 38, 38, 0.9);
}


.submit {
	border-style: double;
	border-top-width: .8em;
	border-bottom-width: .8em;
	border-left-width: .5em;
	height: 365px;
	width: 35%;
	min-width: 390px;
	float: left;
	background-image: linear-gradient(to top right, #262626, #5D5D5D);
	border-radius: 25px 0 0 25px;
}

.login-form {
	width: 365px;
	height: 283px;
	background-color: #f2f2f2;
	border-radius: 15px;
}

.form-group {
	background-color: #f2f2f2;
	position: relative;
	width: 330px;
}

#main-buttons {
	position: relative;
	width: 330px;
}

.content {
	position: relative;
	border-style: double;
	border-top-width: .6em;
	border-bottom-width: .6em;
	border-right-width: .4em;
	background-image: linear-gradient(to bottom right, #5D5D5D, #262626);
	font-size: 1.3em;
	text-align: center;
	width: 65%;
	min-width: 730px;
	height: 365px;
	float: right;
	border-radius: 0 25px 25px 0;
}

.logo {
	background-image: url(../images/micro-learn-logo-edited.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: contain;
	height: 200px;
	width: 65%;
	max-width: 690px;
}

footer {
	position: absolute;
	bottom: 0;
}